<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-icon">
                <img
                    src="../assets/img/ReadingSideDoodle.png"
                    alt="Doodle reading a book"
                />
            </div>
            <div class="navbar-title">
                <a class="nav-link" routerLink="">
                    <h1>MOMENTS</h1>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link new-moment" routerLink="/moments/new">
                            Compartilhar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about/">
                            Sobre
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Projeto
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="https://github.com/Baku-Stark" target="_blank">
                                    Autor
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="https://github.com/Baku-Stark/Moments" target="_blank">
                                    Projeto 'Moments'
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>