<footer>
    <div class="container">
        <div class="row">
            <div class="container-top">
                <div class="col-12">
                    <h1>BAKU-STARK</h1>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original-wordmark.svg" />
                </div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="container-mid">
                <div class="col">
                    <div class="list-box">
                        <div class="list-box-title">
                            <h4>Contatos</h4>
                        </div>
                        <div class="list-box-body">
                            <p>
                                <strong>
                                    <i class="bi bi-google"></i>
                                </strong>
                                <a href="https://tamakiamajiki360@gmail.com/" target="_blank">
                                    tamakiamajiki360@gmail.com
                                </a>
                            </p>
                            <p>
                                <strong>
                                    <i class="bi bi-envelope-at-fill"></i>
                                </strong>
                                <a href="http://wallacefmds360@outlook.com/" target="_blank">
                                    wallacefmds360@outlook.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="list-box">
                        <div class="list-box-title">
                            <h4>Redes Sociais</h4>
                        </div>
                        <div class="list-box-body">
                            <p>
                                <strong>
                                    <i class="bi bi-twitter"></i>
                                </strong>
                                <a href="https://twitter.com/Walleemc2" target="_blank">
                                    Walleemc2
                                </a>
                            </p>
                            <p>
                                <strong>
                                    <i class="bi bi-linkedin"></i>
                                </strong>
                                <a href="https://www.linkedin.com/in/wallace-freitas-92a2061b6/" target="_blank">
                                    Wallace de Freitas
                                </a>
                            </p>
                            <p>
                                <strong>
                                    <i class="bi bi-instagram"></i>
                                </strong>
                                <a href="https://www.instagram.com/wallace_emc2/" target="_blank">
                                    wallace_emc2
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="container-bot">
                <div class="col-12">
                    <p>
                        <i>
                            Oi! Chegou até aqui, visitante? Eu agradeço e fico muito feliz de ler meu projeto portfólio.
                        </i>
                    </p>
                    <p>
                        <i>
                            Me siga nas minhas redes sociais. Aceito todo tipo de ajuda para melhorar nas áreas de Front e Back End.
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>